body{
  background-image: url('mp background.jpg');
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: cover;
}

h2{
	text-align : center;
}

form {
	margin-top : 150px;
	margin-left : 35%;
	margin-right : 35%;
    border: 3px solid #7d7c7a;
	border-radius : 20px;
	background : rgba(186, 184, 173, 0.3);
}

input[type=text]{
  width: 40%;
  padding: 10px 15px;
  margin: 8px 10px;
  margin-right : 25%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=password] {
  width: 40%;
  padding: 10px 15px;
  margin: 8px 13px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  margin-left : 20%;
  border: none;
  cursor: pointer;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 15px;
  background-color: #f44336;
  margin-left : 10px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 15%;
  border-radius: 70%;
}

.container {
  padding: 8px;
}

span.psw {
  float: right;
  padding-top: 10px;
}

@media screen and (max-width: 30px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 40%;
  }
}
.rsg{
	text-align : center;
	padding-top : 10px;
	padding-bottom : 10px;
  }