body{
  background-image: url('mp background.jpg');
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: cover;
}

h2{
	text-align : center;
}

form {
	position : center;
	margin-top : 50px;
	margin-left : 33%;
	margin-right : 33%;
	margin-bottom : 50px;
    border: 3px solid #7d7c7a;
	border-radius : 20px;
	background : rgba(186, 184, 173, 0.3);
}

input[type=text]{
  width: 100%;
  padding: 5px 8px;
  margin: 4px 0 5px 0;
  margin-right : 35%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 4px 8px;
  margin: 4px 0 5px 0;
  margin-right : 29%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 8px 12px;
  margin: 5px 0;
  margin-left : 31%;
  border: none;
  cursor: pointer;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 15px 0 5px 0;
}

img.avatar {
  width: 15%;
  border-radius: 70%;
}

.container {
  padding: 8px;
}

.rsg{
	text-align : center;
	padding-top : 10px;
	padding-bottom : 10px;
  }